:root {
    --main-font: Inter,ui-sans-serif,system-ui,Helvetica,Arial,sans-serif;
    --secondary-font: "Nunito Sans", sans-serif;
    --third-font:  "Poppins", sans-serif;
    --main-background: rgb(14 ,17 ,23);
    --main-color:rgb(213 ,218 ,229);
    --secondary-color:rgba(213, 218, 229, 0.619);
    --border-color:rgba(16, 20, 29, 0.5);
  }
body{
    background-color: rgb(14 ,17 ,23);
    padding: 0;
    margin: 0;
}
*{
    color: rgb(213 ,218 ,229);
    font-family: Inter,ui-sans-serif,system-ui,Helvetica,Arial,sans-serif;
}
.btn{
    color: var(--main-background);
    background-color: var(--main-color);
    padding: 0.5rem 2.5rem;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--main-color);
    cursor: pointer;
}

.btn:hover{
    background-color: rgba(213, 218, 229, 0.8);
}

::-webkit-scrollbar {
    display: none;
  }
nav ul li{
    list-style: none;
    font-family: var(--main-font);
    font-weight: 600;
    font-size: x-large;
    line-height: 30px;
    word-spacing: 5px;
}

/* Search Bar And Suggestion */
.search-box{
    display: flex;
    width: 100%;
    margin-top: 5rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#movie-search-bar{
    background-color: var(--main-background);
    outline: none !important;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    padding: 1rem 2rem;
    width: 80%;
    font-weight: 500;
    color: var(--main-color);
}
.suggestion{
    position: relative;
    display: flex;
    justify-content: center;
}
.search-box section{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.result-box{
    position: absolute;
    width: 60%;
    background-color: rgb(16, 22, 37);
    margin-right: 8.5rem;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius:10px ;
    max-height: 16.2rem;
    overflow-y: scroll;
}
.result-box ul{
    margin: 0;
    padding: 0 !important;
    padding: 10px 15px;
}
.result-box ul li{
    padding: 1rem 15px;
    border-top: 1px solid rgb(38, 44, 57);
    list-style: none;
    border-radius: 3px;
    cursor: pointer;
}
.result-box ul li:hover{
    background-color: rgb(24, 31, 46)
}

/* Movie Details section Design */
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container section{
    width: 80%;
}
.show-recommendations{
    flex-direction: column ;
}
.show-recommendations h2{
    width: 80%;
    display: flex;
    justify-content: flex-start;
}
#recommendation-container{
    width: 100% !important;
    display: grid;
    grid-template-columns: repeat(5, minmax(200px, 1fr)); /* Two columns, responsive */
    row-gap: 2rem;
    column-gap: 2rem;
}
.movie-details{
    display: flex;
    width: 60% !important;
    margin: 4rem 0;
    justify-content: space-between;
}
.movie-details section{
    width: 40%;
    overflow: hidden;
    display: grid;
    place-items: center;
}
.movie-details section img{
    border-radius: 20px;
    width: 80%;
}
#Story-Line{
    line-height: 23px;
    margin-top: 0.5rem;
    font-size: 15px;
}
.movie-details div{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.movie-details div section{
    width: 100%;
}
.movie-meta-data{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.movie-meta-data div{
    display: flex;
    width: 100%;
    flex-direction: row;
    margin: 0.5rem 0;
}

.movie-meta-data div b{
    display: inline-flex;
    width: 8rem !important;
    font-weight: 300;
    font-family: var(--secondary-font);
    letter-spacing: normal;
    color: rgba(192, 192, 192, 0.366);
    font-size: small;
    line-height: 17.5px;
}
.movie-meta-data div p{
    margin: 0 !important;
    display: flex;
    border-radius: 0;
    font-family: var(--third-font);
    line-height: 22px;
    font-size: 14px;
    font-weight: 600;
    color: var(--main-color);
}

/* Recommendation Section Designs */
.card{
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid var(--border-color);
}
.card:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}
.card img {
    width: 100%;
    aspect-ratio: 2.5/4;
    height: 100%;
}
/* Skeletion Animation and Class */
.skeletonCard {
    display: grid;
    width: 250px;
    height: 400px; 
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    background-color:rgba(16, 20, 29, 0.5);
}

.skeleton {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(183, 71, 71, 0) 0%, rgba(255, 255, 255, 0.05) 50%, rgba(180, 59, 59, 0) 100%);
    animation: skeleton-animation 1.5s linear infinite ;
}

@keyframes skeleton-animation {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}
.skeleton-section{
    display: flex;
    margin: 4rem 0;
    justify-content: space-evenly;
    height: 25rem;
}
.SkeletionCard{
    width: 25%;
}
.skeleton-meta-data{
    width: 40%;
}
.skeleton-meta-data b{
    width: 5rem !important;
}
.skeleton-meta-data section{
    display: flex;
    margin: 2rem 0;
    width: 100%;
}
.skeletion-movie-data section p{
    margin: 0;
    width: 5rem;
}
.skeletion-movie-data section b{
    margin-left: 2rem;
    width: 100% !important;
    line-height: 26px;
}
.line{
    margin: 0.5rem 0;
}
.story-plot{
    width: 20%;
}
.skeleton-meta-data :nth-child(5){
    width: 65% !important;
}
skeleton-meta-data b,.story-plot,.line,.skeleton-meta-data h2,.skeleton-meta-data p,.skeleton-meta-data b, skeletion-movie-data p,skeletion-movie-data b{
    background-image:linear-gradient(90deg, rgba(183, 71, 71, 0) 0%, rgba(255, 255, 255, 0.05) 50%, rgba(180, 59, 59, 0) 100%) ;
    height: 1rem;
    background-size: 200%;
    background-position: 100% 0;
    animation: load 1s linear infinite;
    background-color: rgba(16, 20, 29, 0.5);
}
.SkeletionCard{
    background-image:linear-gradient(90deg, rgba(183, 71, 71, 0) 0%, rgba(255, 255, 255, 0.05) 50%, rgba(180, 59, 59, 0) 100%) ;
    background-size: 200%;
    background-position: 100% 0;
    animation: load 1s linear infinite;
    background-color: rgba(16, 20, 29, 0.5);
}
@keyframes load {
    100%{
        background-position: -100% 0;
    }
}